<h1>About Me</h1>
<h2>Hometown: Forest Hills, NY</h2>
<p> I am a Junior at NYU majoring in Nutrition and Dietetics! I love traveling and am so excited to be in Cape Town this summer! </p>
<p>I danced for 9 years and went to a performing arts school for high school!</p>
</br>
<a href="/">Return to Home Page</a>
</br><a href="/contact">Contact Me</a>
